body {
  padding-bottom: 50px;
  h3 { margin-bottom: 30px; }
}

form h4 {
  background-color: #eee;
  padding: 10px;
}

.submit-area {
  background-color: #eee;
  padding: 20px 0;
  margin: 20px 0 0;
}

.tab-content {
  padding-top: 20px;

  canvas {
  width: 800px;
  height: 600px;
  }
}

.upload-page {
  h3 {
    padding: 10px;
    background-color: #f1f1f1;
  }

  h4 {
    padding: 10px 0;
  }
}

.result canvas {
  width: 800px;
  height: 600px;
}

.search-list {
  margin: 20px 0 0;
  max-height: 300px;
  overflow: scroll;

  .search-list-box {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f1f1f1;

    &:last-child { margin-bottom: 0; }

    h3 {
      margin: 0;
    }
  }
}

.image-preview {
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  margin-top: 5px;
  padding: 5px;
}

.checkbox-list {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  padding: 10px;
  max-height: 210px;
  overflow: scroll;

  .checkbox {
    padding-top: 0;
  }
}

.scrolling-table {
  border: 1px solid #ccc;
  max-height: 210px;
  overflow: scroll;

  table {
    &.table-bordered {
      border: none;
    }

    tr {
      th {
        border-top: none;
        text-align: center;
        vertical-align: middle;
        background-color: #f1f1f1;
      }

      th, td {
        &:first-child {
          border-left: none;
        }
      }
    }
  }
}
