<div id="view-id_catalog_view">
  <h1>div#view-id_catalog_view h1</h1>
  <div class="pages">
    div#view-id_catalog_view h1 div.pages
    <div class="container">
      div#view-id_catalog_view h1 div.pages div.container
      <span>div#view-id_catalog_view h1 p.pages div.container span</span>
    </div>
  </div>
</div>
<div id="view-display-id-catalog_page">
  <h1>div#view-display-id-catalog_page h1</h1>
  <div class="pages">
    div#view-display-id-catalog_page div.pages
    <div class="container">
      div#view-display-id-catalog_page div.pages div.container
      <span>div#view-display-id-catalog_page div.pages div.container span</span>
    </div>
  </div>
</div>
