---
title: Job detail
---

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Closing job</h3>
  </div>
  <div class="panel-body">
    <div class="page-header" style="margin-top: 0;">
      <h4 style="margin-top: 7px;">Job on xxxx morning/afternoon</h4>
    </div>
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-xs-2 control-label">Name:</label>
        <div class="col-xs-2">
          <p class="form-control-static">XXXX</p>
        </div>
        <label class="col-xs-2 control-label">Telephone:</label>
        <div class="col-xs-4">
          <p class="form-control-static">XXXX</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-2 control-label">Air class:</label>
        <div class="col-xs-10">
          <p class="form-control-static">XXXX</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-2 control-label">Cause:</label>
        <div class="col-xs-10">
          <p class="form-control-static">XXXX</p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <input class="btn btn-primary" type="submit" value="Save" />
          <a class="btn btn-default" href>Cancel</a>
        </div>
      </div>
    </form>
  </div>
</div>

