---
title: Job detail
---

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Job detail</h3>
  </div>
  <div class="panel-body">
    <div class="page-header" style="margin-top: 0;">
      <h4 style="margin-top: 7px;">Job on xxxx morning/afternoon</h4>
    </div>
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-2 control-label">Name:</label>
        <div class="col-sm-2">
          <p class="form-control-static">XXXX</p>
        </div>
        <label class="col-sm-2 control-label">Telephone:</label>
        <div class="col-sm-4">
          <p class="form-control-static">XXXX</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Address:</label>
        <div class="col-sm-10">
          <p class="form-control-static">XXXX</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Air class:</label>
        <div class="col-sm-10">
          <p class="form-control-static">XXXX</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Equipment:</label>
        <div class="col-sm-10">
          <p class="form-control-static">XXXX</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Installing position:</label>
        <div class="canvas-area col-sm-12">
          <div class="row">
            <div class="col-sm-6">
              <canvas></canvas>
            </div>
            <div class="col-sm-6">
              <canvas></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <input class="btn btn-primary" type="submit" value="End job" />
          <a class="btn btn-default" href>Cancel job</a>
          <a class="btn btn-default" href>Postpone job</a>
        </div>
      </div>
    </form>
  </div>
</div>

