<h3 class="text-center">About us / Contact us</h3>
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <p>
    Curabitur blandit tempus ardua ridiculus sed magna. Curabitur blandit tempus ardua ridiculus sed magna. Non equidem invideo, miror magis posuere velit aliquet. Curabitur est gravida et libero vitae dictum.
    Pellentesque habitant morbi tristique senectus et netus. Ab illo tempore, ab est sed immemorabili. Phasellus laoreet lorem vel dolor tempus vehicula. Nihil hic munitissimus habendi senatus locus, nihil horum?
    Phasellus laoreet lorem vel dolor tempus vehicula. Quam temere in vitiis, legem sancimus haerentia. Gallia est omnis divisa in partes tres, quarum. Magna pars studiorum, prodita quaerimus. Cum sociis natoque penatibus et magnis dis parturient.
    Nec dubitamus multa iter quae et nos invenerat. Curabitur blandit tempus ardua ridiculus sed magna. Cum ceteris in veneratione tui montes, nascetur mus. Integer legentibus erat a ante historiarum dapibus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus.
    Idque Caesaris facere voluntate liceret: sese habere. Phasellus laoreet lorem vel dolor tempus vehicula. Prima luce, cum quibus mons aliud  consensu ab eo. Salutantibus vitae elit libero, a pharetra augue. Contra legem facit qui id facit quod lex prohibet.
    </p>
    <div class="text-center" style="margin-top: 30px;">
      <div class="thumbnail" style="display: inline-block;">
        <img data-src="holder.js/350x300">
      </div>
    </div>
    </p>
  </div>
</div>
